<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utonw.utonerp.mapper.ActHiProcinstMapper">

	<resultMap id="BaseResultMap" type="com.utonw.dealer.api.entity.erp.ActHiProcinst">
	<id column="ID_" property="id" />
	<result column="PROC_INST_ID_" property="procInstId" />
	<result column="BUSINESS_KEY_" property="businessKey" />
	<result column="PROC_DEF_ID_" property="procDefId" />
	<result column="START_TIME_" property="startTime" />
	<result column="END_TIME_" property="endTime" />
	<result column="DURATION_" property="duration" />
	<result column="START_USER_ID_" property="startUserId" />
	<result column="START_ACT_ID_" property="startActId" />
	<result column="END_ACT_ID_" property="endActId" />
	<result column="SUPER_PROCESS_INSTANCE_ID_" property="superProcessInstanceId" />
	<result column="DELETE_REASON_" property="deleteReason" />
</resultMap>
	<resultMap id="CompleteTaskMap" type="com.utonw.dealer.api.entity.ApplyIndentRequest">
		<result column="END_TIME_" property="updateTime" />
		<result column="BUSINESS_KEY_" property="applyId" />
		<result column="TASK_DEF_KEY_" property="taskName" />
	</resultMap>

	<select id="selectCompleteTask" parameterType="java.lang.String" resultMap="CompleteTaskMap">
			SELECT
		ahp.BUSINESS_KEY_ AS applyId,
		aht.TASK_DEF_KEY_ AS taskName,
		aht.END_TIME_ AS updateTime
	FROM
		act_hi_taskinst aht
	LEFT JOIN act_hi_procinst ahp ON ahp.PROC_INST_ID_ = aht.PROC_INST_ID_
	WHERE
		aht.DELETE_REASON_ = 'completed'
	AND aht.ASSIGNEE_ = #{uuid}
	ORDER BY
		aht.END_TIME_
	</select>

	<select id="queryAlreadyCapital" parameterType="java.lang.String" resultMap="CompleteTaskMap">
		SELECT
		ahp.BUSINESS_KEY_ AS applyId,
		aht.TASK_DEF_KEY_ AS taskName,
		aht.END_TIME_ AS updateTime
	FROM
		act_hi_taskinst aht
	LEFT JOIN act_hi_procinst ahp ON ahp.PROC_INST_ID_ = aht.PROC_INST_ID_
	WHERE
		aht.DELETE_REASON_ = 'completed'
	AND aht.ASSIGNEE_ = #{uuid}
	ORDER BY
		aht.END_TIME_
	</select>

</mapper>
