<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utonw.dealer.mapper.CarsokAccountRegionldMapper">

	<resultMap id="BaseResultMap" type="com.utonw.dealer.api.entity.CarsokAccountRegionld">
		<id column="id" property="id" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="district" property="district" />
		<result column="acountId" property="acountid" />
		<result column="contractTime" property="contracttime" />
		<result column="updateTime" property="updatetime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, province, city, district, acountId AS acountid, contractTime AS contracttime, updateTime AS updatetime
    </sql>
</mapper>
