<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utonw.dealer.mapper.MerchantApplyAuditMapper">

	<resultMap id="BaseResultMap" type="com.utonw.dealer.api.dto.response.MerchantApplyAuditResponse">
		<id column="id" property="id" />
		<result column="applyId" property="applyid" />
		<result column="passed" property="passed" />
		<result column="approvalAmount" property="approvalamount" />
		<result column="remarks" property="remarks" />
		<result column="createdate" property="createdate" />
		<result column="acountId" property="acountId" />
	</resultMap>
	<resultMap id="BaseResultOrder" type="com.utonw.dealer.api.entity.OrderStatus">
		<id column="createdate" property="createdate" />
		<result column="indentState" property="indentState" />
		<result column="passed" property="passed" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, applyId AS applyid, passed, approvalAmount AS approvalamount, remarks, createdate
    </sql>
    
    <select id="selectCreatedate"  parameterType="java.lang.String" resultMap="BaseResultOrder">
	SELECT maa.createdate,mi.indentState,maa.passed
	FROM merchant_indent mi
	LEFT JOIN merchant_apply ma ON mi.acount_id =ma.acountId
	LEFT JOIN merchant_apply_audit maa ON ma.id = maa.applyId
	WHERE mi.id=#{id}


</select>
</mapper>
