<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utonw.dealer.mapper.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.utonw.dealer.api.entity.Picture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pic_path, product_id, create_time, update_time
  </sql>
  
  <select id="selectByModel" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM carsok_picture
    WHERE product_id = #{productId}
  </select>

</mapper>